default:
    suites:
        default:
            contexts:
                - Ubirak\RestApiBehatExtension\Json\JsonContext
                - Ubirak\RestApiBehatExtension\RestApiContext
                - WakeOnWeb\BehatContexts\FidryAliceFixturesContext: ["tests/Fixtures"]
            paths:
                - tests/Features

    extensions:
        Behat\Symfony2Extension:
            kernel:
                class: Sudoku\Kernel
        Ubirak\RestApiBehatExtension\Extension:
            rest:
                base_url: http://app:8000
                store_response: true
